<div class="container createRecipe">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <h5 class="text-center">Create New Recipe</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <h6>Ingredients List:</h6>
  <app-ingredients></app-ingredients>
    </div>
    <div class="col-md-7">
    <table>
      <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
      </tr>
<!--      <tr *ngFor="let newIngredient of newRecipe.recipeIngredients; let i = index;">
        <td>{{ newIngredient.name }}</td>
        <td>{{ newIngredient.quantity }}</td>
        <button id="deletebtn">x</button>
      </tr>-->
    </table>
    </div>
  </div>
</div>
